body {
    background-image: url("cloudsBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    width: 100%;
    overflow-x: hidden;
}
html {
  width: 100%;
  overflow-x: hidden;
}

#headerContainer {
  text-align: center;
  width: auto;

}

#headerDiv {
    background-image: url("swirl_pattern.png");
    display: inline-block;
    background-size: auto auto;
    opacity: 0.7;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0px;
}

#headerMainText {
    font-size: 70px;
    padding: 70px 0px 0px 0px;
    font: helvetica, sans-serif;
    margin: 0 auto;
}

#leftCol {
    height: 800px;
    margin: 0;
    padding: 40px;
}

#rightCol {
    height: 800px;
    margin: 0;
    padding: 40px;
}

#bottomDiv {
    height: 400px;
}

#cardHeader {
    text-align: center;
}

#disasterContainer {
    height: 200px;
}

.fluid.ui.orange.button.DISBUTTON {
    margin: 5px 0px 5px 0px;
    height: 60px;
}

#topDiv {
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

#topDivBG {
    background-image: url("exclusive_paper.png");
}

#leftColBG {
    background-image: url("exclusive_paper.png");
}

#headerText {
    text-align: center;
    font-size: 30px;
}

#bottomDiv {
    padding: 40px 0px 40px 0px;
}

#instructText {
    text-align: center;
}

#infoHeader {
    font-size: 25px;
    text-align: center;
}

.header {
  text-align: center;
  display: inline;
}

#googleMap {
  position: relative;
}

.verticalCenter {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ui.buttons.headerButton {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ui.vertical.stripe.segment {
  padding: 8em;
  margin: 0;
  opacity: .9;
}

#searchBar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#browseArrowIcon {
  padding-left: .75em;
}
